**/classes
**/CVS/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/*.class
**/mtbwi.properties
**/.cvsignore
**/nbproject/private/
/doc
.DS_Store
/.idea
/src/mtb-wi.iml
/build.number
build.xml
/conf/build.local-Steve.properties
