#updates {
	font-size:14px;
	line-height:1.25;
	width:25%;
	padding:25px 15px 25px 15px;
	float:left;
}

#updates h3 {
	font-weight:600;
}

#updates ul {
	list-style-position: inside;
	padding:0;
	margin:0 0 15px;
}

#updates li {
	font-weight:300;
	padding:0;
	margin:0 0 10px;
}

.container > div {
	overflow:auto;
	zoom:1;
}

#mmhc-info {
	padding:0 15px;
	font-size:16px;
}

#model-counts {
	font-size:14px;
	width:75%;
	float:left;
	padding:25px 15px 25px 15px;
}

#model-counts table {
	margin-top:0;
}

#model-counts caption {
	width:auto;
}

#model-counts th {
	font-size:14px;
	padding:6px 6px 12px;
	vertical-align: bottom;
	text-align:left;
}

#model-counts th[colspan],
#model-counts th:first-child {
	font-size:18px;
}

#model-counts tr:nth-child(odd) > td {
	background-color:rgba(144, 157, 163, 0.25);
}

#model-counts tr > td:nth-child(4),
#model-counts tr > td:nth-child(5),
#model-counts tr > td:nth-child(6),
#model-counts tr > td:nth-child(7) {
	width:70px;
}

#model-counts tr > td:nth-child(4),
#model-counts tr > td:nth-child(5),
#model-counts tr > td:nth-child(6) {
	background-color:rgba(66, 176, 42, 0.1);
}

#model-counts tr:nth-child(odd) > td:nth-child(4),
#model-counts tr:nth-child(odd) > td:nth-child(5),
#model-counts tr:nth-child(odd) > td:nth-child(6) {
	background-color:rgba(66, 176, 42, 0.25);
}

#model-counts td {
	padding:5px 6px;
}

#model-counts th + th,
#model-counts td + td {
	text-align:center;
}

#model-counts tbody td:first-child {
	width:30%;
}

#model-counts tbody td:first-child a {
	font-weight:600;
	color:#05396b;
}




@media (max-width:992px) {
	#model-counts,#updates {
		width:100%;
	}
}
