/* Defaults */
body {
background-color: #ffffff;
color: #000000;
font-family: Verdana,Arial,Helvetica;
font-size: 12px;
}

td.normal {
font-family: Verdana,Arial,Helvetica;
font-size: 12px;
padding: 5px;
}

td {
font-family: Verdana,Arial,Helvetica;
font-size: 12px;
}

/* Form Elements */
input {
color: #000000;
font-family: Verdana,Arial,Helvetica;
font-size: 11px
}
select {
color: #000000;
font-family: Verdana,Arial,Helvetica;
font-size: 11px;
}

/* Index Page */
.text {
font-family: Verdana,Arial,Helvetica;
color: #000001
}
.indexTitle {
font-size: 20px;
font-family: Arial,Helvetica;
vertical-align: middle;
color: #000001;
font-weight: bold;
text-align: center;
background-color: #D0E0F0
}

/* Headers */
.pageTitle {
font-size: 18px;
font-family: Arial,Helvetica;
vertical-align: middle;
color: #000001;
font-weight: bold;
text-align: center;
background-color: #D0E0F0
}
.label {
font-size: 12px;
font-family: Arial,Helvetica;
text-align: right;
color: #000001;
font-weight: bold;
padding: 5px;
}
td.headerLabel {
font-size: 12px;
font-family: Arial,Helvetica;
text-align: right;
color: #000001;
font-weight: bold;
vertical-align: middle;
text-align: center;
background-color: #dddddd
}
td.headerLabelSmall {
font-size: 9px;
font-family: Arial,Helvetica;
text-align: right;
color: #000001;
font-weight: bold;
vertical-align: middle;
text-align: center;
width: 50px;
background-color: #dddddd
}

/* Anchor Tags */
a:visited {
color: #2222FF;
} 
a:link {
color: #2222FF;
} 
a:hover {
text-decoration: none;
color: #FF2222;
} 
a:active {
color: #2222FF;
} 
a.help {
cursor: help
}

a.none {
    text-decoration: none;
}

/* Tool Bar */
.toolBar {
font-size: 12px;
font-family: Verdana,Arial,Helvetica;
vertical-align: middle;
background-color: #ffffff
}
.toolBarSearch {
font-size: 12px;
font-family: Verdana,Arial,Helvetica;
vertical-align: middle;
color: #000000;
background-color: #D0E0F0;
width: 100%
}
.toolBarSearchTitle {
font-weight: bold
}
.toolBarSmall {
font-size: 11px;
font-weight: normal;
}
.toolBarTitle {
font-weight: bold;
font-size: 14px
}
.toolBarSelect {
color: #000000;
font-family: Verdana,Arial,Helvetica;
font-size: 11px;
width: 100%
}

/* Striping */
/* Complete Rows */
tr.stripe1 {
background-color: #ffffff
}
tr.stripe2 {
background-color: #F0F0F0
}
/* TableData Label Categories (Left Side)*/
td.cat1 {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: top;
text-align: right;
color: #000001;
background-color: #DFEFFF;
font-weight: bold;
width: 120px;
padding: 8px !important;
}
td.cat2 {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: top;
text-align: right;
color: #000001;
background-color: #D0E0F0;
font-weight: bold;
width: 120px;
padding: 8px !important;
}

tr.tablebreak {
font-size: 1px;
font-family: Arial,Helvetica;
vertical-align: top;
text-align: right;
color: #000001;
background-color: #DFEFFF;
height: 0px;
}

td.catTitle {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: top;
text-align: center;
color: #000001;
background-color: #DFEFFF;
font-weight: bold;
width: 120px;
padding: 8px
}

/* TableData Data (Right Side)*/
td.data1 {
font-size: 12px;
font-family: Verdana,Arial,Helvetica;
vertical-align: top;
color: #000001;
padding: 8px !important;
}
td.data2 {
font-size: 12px;
font-family: Verdana,Arial,Helvetica;
vertical-align: top;
color: #000001;
padding: 8px !important;
}

/* Search Results */
tr.summary {
background-color: #ffffff
}
td.resultsHeader {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: middle;
color: #000001;
background-color: #D0E0F0;
font-weight: bold;
text-align: center
}
td.resultsHeaderLeft {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: middle;
color: #000001;
background-color: #D0E0F0;
font-weight: bold;
text-align: left
}
td.resultsHeaderSmall {
font-size: 9px;
font-family: Arial,Helvetica;
text-align: right;
color: #000001;
font-weight: bold;
vertical-align: middle;
text-align: center;
width: 50px;
background-color: #D0E0F0
}

/* Miscellaneous */ 
table.results {
background-color: #3344AA
}
tr.buttons {
vertical-align: middle;
text-align: left;
background-color: #ffffff
}
tr.pageInfo {
vertical-align: middle;
text-align: left;
background-color: #ffffff
}
td.hilite {
background-color: #FDFDDD
}
.enhance {
font-size: 14px;
font-weight: bold;
vertical-align: middle
}
.error {
color: red
}
.nowrap {
white-space: nowrap;
} 
.larger {
font-size: 14px;
font-weight: bold
}
.normal {
font-size: 12px;
font-weight: normal
}
.quickSearch {
font-size: 12px;
font-family: Verdana,Arial,Helvetica;
vertical-align: middle;
color: #000000;
background-color: #D0E0F0
}
.smallCenter {
font-size: 10px;
text-align: center
}
hr {
color: #3344AA;
background-color: #3344AA;
height: 1px;
border: 0
}

/*  ToolBar / Main Data Seperator */
td.separator {
background-color: #888888;
width: 1px
} 

/* Definitions */
.definitionsTitle {
font-size: 12px;
font-family: Arial,Helvetica;
vertical-align: middle;
color: #000001;
font-weight: bold;
text-align: center;
background-color: #D0E0F0
}

table.grid {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: expanded;
	background-color: black;
}
tr.grid {	background-color: #FFFFFF;
}

table.grid th {
	border-width: 1px 1px 1px 1px;
	border-style: none groove groove none;
	border-color: black black black black;
	background-color: #FFFFFF;
	font-size:9px;
	vertical-align:bottom;
}

table.grid td
 {
	border-width: 1px 1px 1px 1px;
	border-style: none groove groove none;
	border-color: black black black black;
        background-color: #FFFFFF;
        font-size:9px;
        vertical-align:middle;
        height: 20px;
}

a.grid:visited {
color: #2222FF;
}
a.grid:link {
color: #2222FF;
}
a.grid:hover {
text-decoration: none;
color: #FF2222;
}
a.grid:active {
color: #2222FF;
}
table.gridDetails {
font-size:9px;
}
td.gridDetails {
font-size:9px;
}

input.checkbox  {
width : 0px;
height :0px;
padding: 0px;
margin: 0px;
}

p.pdxLink {
    text-align:right;
    color: red;
     
}

.pdxRequestButton{
 background-color:#3399FF;
 }
 .pdxRequestButton:hover{
 text-decoration: underline;
 }


li.realList{
    list-style: disc;
    list-style-position: inside;
    margin-left:30px;
}

p.miTitle{
    font-size: 140%;
    color: orangered;
}

.miTable{
    border-collapse: collapse;
    border: 2px solid blue;
}
