body {
	background-color:#05396b;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:600;
	margin:0 0 0.4em;
}


p {
	margin:0 0 0.25em;
}


img {
	display:block;
	margin:0;
	padding:0;
	max-width:100%;
}

th,
strong {
	

	font-weight:600;
}



h1 {

	font-weight:700;	
	font-size:2.75em;
	color:#05396b;
	line-height:1;
	padding:0;
	letter-spacing:-1px;
	margin:0 0 0.7em;
}

h1 > span:before {
/* 	content:'\a0\2014\a0'; */
}

h1 > span {
	display:block;
	font-weight:300;
	margin-top:3px;
}

h2 {

	font-weight:600;
	background-color:transparent;	
}

h4 {

	font-weight:700;
	font-size:1.25em;
	color:#05396b;
	margin:0 0 0.4em;
}

h6 {

	font-weight:600;
	font-size:1em;	
}





.link-disable {
	opacity:0.4;
	pointer-events: none;
}

.link-external:after {
	font-family: FontAwesome;
	content:'\a0\f08e';
}

hr {
	color:#ddd;
	background-color:#ddd;
	margin:1em 0;
	padding:0;
	width:auto;
}


/* Tables */

table {
	margin:15px 0 30px;
}

table#strain-tumors {
	width:100% !important;
}

caption {
	margin:0 0 15px;
}

th {
	line-height:1.1;
	padding:3px 6px 8px;
}

td > h4,
th {
	font-weight:600;
	color:#05396b;
	font-size:1.16666em;		
}

tr:last-child > th {
	border-bottom:1px solid #05396b;	
}

td {
	padding:5px 6px 4px;
}

td > h4,
td > h5 {
	margin:0;
	padding:0;
}

td > h5 {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:600;
	font-size:1em;	
	line-height:1.1;
}


/* Header */

body > header {
	background-color:#05396b;
	overflow:visible;
}

nav {
	clear:both;
	padding-top:4px;
	padding-bottom:12px;
	overflow:visible;
	color:rgba(255,255,255,0.8);
	position:relative;
}

nav img,
nav form {
	position:relative;
}


/* Wordmark */

nav > a,
nav > a:link {
	display:block;
	position:absolute;
	top:3px;
	left:27px;
	color:#04c3ff;
	font-size:15px;
	line-height:19px;
}

nav > a h3 {
	float:right;
	margin:2px 0 0 -12px;
	padding:19px 0 17px;
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:600;
	width:100px;
}

nav img {
	float:left;
	height:100px;
	margin-left:-6px;
}


/* Menu */

#menu {
	float:right;
}

#menu-search {
	float:right;
}

nav ul {
	margin:0;
}

nav ul a,
nav ul a:link,
footer a,
footer a:link {
	color:#1dcaff;
}

nav ul a:hover {
/* 	color:white; */
}

nav > ul {
	clear:both;
	font-size:16px;
	line-height:1;
	overflow:visible;
	margin-left:-10px;
	margin-right:-10px;
}

nav {
	clear:both;
}

nav > ul:after {
	content:'\a0';
	clear:both;
	font-size:0;
}

nav ul,
footer ul {
	list-style: none;
	padding:0;	
}

nav li,
footer li {
	position:relative;
	display:block;
	margin:0;	
}

nav > ul > li {
	float:right;
	padding:1px 10px;
	
}

li.dropdown {
	cursor:pointer;
	padding-right:22px;
}

li.dropdown:after {
	position:absolute;
	display:block;
	font-family: FontAwesome;
	content:'\f107';
	top:0;
	right:8px;
	font-size:16px;
}

nav > ul > li > ul {
	display:block;
	font-size:14px;
	visibility:hidden;
	position:absolute;
	z-index:5;
	white-space: nowrap;
	background-color:#05396b; /* #3a6a96; */
	padding:8px 16px 12px;
	margin:0 -16px;	
	transform-origin: top;
	transform:perspective(200px) rotateX(-5deg);
	transition:transform 100ms ease-in;
}

nav > ul > li > ul li {
	padding:4px 0;
}

nav > ul > li:hover > ul {
	display:block;
	visibility:visible;
	transform:perspective(200px) rotateX(0deg);
	transition:transform 100ms ease-out;
}


/* Quick Search */

nav > div {
	float:right;
	box-sizing:border-box;
	padding:0;
	height:40px;
	margin:15px 0;
	border:1px solid #05396b;
	background-color:white;

}

nav input {
	height:38px;
	visibility: visible;
	position:relative;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin:0;
	display:block;
	float:left;
	box-sizing:border-box;	
	border:0;
	border-radius:0;
}


nav input[type="text"] {
	width:244px;
	padding:8px 9px 6px;
	font-size:14px;
	line-height:18px;
	margin:3px;
	height:32px;
}

@media (min-width:992px) {
	nav > div:after {
		right:356px;
	}
		
	nav input[type="text"] {
		width:300px;
	}	
}

nav > div > a {
	font-family:FontAwesome;
	background-color:rgba(144,157,163,0.2);
	color:#05396b;
	border:0;
	text-transform: uppercase;
	font-size:16px;
	padding:0;
	margin:0;
	width:40px;
	display:block;
	float:left;
	height:38px;
	line-height:38px;
	text-align: center;
	cursor:pointer;
}

nav > div > a:hover {
	background-color:rgba(5,57,107,0.2);
}


/* Section */

body > main {
	background-color:rgb(250,253,255);
	box-shadow:0px 0px 6px rgba(0,0,0,0.15);
	padding:30px 0 0;
}

body > main > div {
	padding:0;
	margin-bottom:50px;
}




/* Main - for content pages e.g. citation.jsp */

/*
main {
	font-size:1.5em;
	margin: 1.5em 0;
    line-height: 1.4;
    color:#222;
}

main p {
	margin-bottom:1em;	
}
*/

main blockquote {
	margin-left:10%;
	margin-right:auto;
	max-width:800px;
	box-sizing:border-box;
	padding:30px;
	background-color:#e5e9f0;
}


/* Footer */

footer {
	color:white;
	font-size:1.25em;
}

footer > div > div:after {
	content:'\a0';
	height:0;
	clear:both;
	float:none;
}

footer > div > div {
	margin-left:-30px;
	margin-right:-30px;
}

footer > div > div > div {
	width:25%;
	padding:30px;
	float:left;
}

@media(max-width:768px) {
	footer > div > div {
		margin-left:-15px;
		margin-right:-15px;		
	}
	footer > div > div > div {
		width:50%;
		padding:30px 15px;
	}	
}

.footer-logo p {
	margin:0;
	line-height:1;
	height:30px;
}

.footer-logo a {
	position:relative;
	display:block;
}

.footer-logo img {	
	display:block;
	width:100%;
	max-width:200px;
}



@media (min-width:1260px) {
	footer > div > div {
		margin-left:-30px;
		margin-right:-30px;		
	}
	footer > div {
		padding-right:30px;
	}
}


/* Tooltips */

.tip {
	position:relative;
	padding-left:1.4em !important;
	cursor:help;
}

.tip:after {
	content:'\a0\f059';
	font-family: FontAwesome;
	opacity:0.5;
	position:absolute;
	top:50%;
	left:0.25em;
	padding:0;
	margin:-0.55em 0 0 0;
	font-size:0.9em;
	display:inline-block;
	float:left;
	line-height:1;
}

a.tip,
span.tip,
em.tip,
strong.tip,
small.tip,
button.tip,
input.tip,
label.tip {
	display:inline-block;
}

[role="tooltip"] {
	display:none;
	position:absolute;
	z-index:8888;
	top:100%;
	left:-1em;
	right:-1em;
	min-width:25em;
	margin:0;
	padding:1.1em 1em 0.75em;
	background-color:white;
	box-shadow:0 8px 8px rgba(0,0,0,0.25);
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:12px;
	line-height:14px;
}

.tip:hover > [role="tooltip"],
.tip:focus > [role="toolltip"],
.tip.show-tip > [role="tooltip"] {
	display:block;
}

.tip:hover:after,
.tip:focus:after,
.tip.show-tip:after {
	opacity:1;
}

/* Tip fallback */

[data-tip]:hover:after { 
	content: attr(data-tip); 
}


/* Forms */

fieldset {
	padding:15px;
	box-sizing:border-box;
}

fieldset legend {
	color:#05396b;
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:600;
}

fieldset label {
	padding-left:15px;
}

fieldset select[multiple] {
	display:block;
	width:100%;
}

fieldset fieldset {
	border:0;
	margin:10px 0;	
}

input,
select {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:400;
}

input::placeholder { color:#909da3; }
input::-webkit-input-placeholder { color:#909da3; }
input:-moz-placeholder { color:#909da3;	}
input::-moz-placeholder { color:#909da3; }
input:-ms-input-placeholder { color:#909da3; }

input[type="button"],
input[type="submit"],
select {
	cursor:pointer;
}

option:checked {
	background: #009ed0 linear-gradient(0deg, #009ed0 0%, #009ed0 100%);
}

input[type="button"],
button,
input[type="submit"],
input[type="reset"] {
	border:0;
	text-transform: uppercase;	
	color:white;
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:0.9em;
	letter-spacing: 1px;
	line-height:1;
	padding:0.75em 1em 0.6em;
	cursor:pointer;
	display:block;
	float:left;
	margin:0 15px 0 0;
}

input[type="button"],
input[type="reset"],
button {
	background-color: rgba(144,157,163,0.4);
	color: #05396b;
}

input[type="submit"] {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:600;
	background-color: #009ed0;	
}

input[type="reset"] {
	
}

input[type="button"]:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color:#04c3ff;
}

input[type="button"]:hover,
button:hover,
input[type="reset"]:hover {
	background-color: rgba(5,57,107,0.25);
}

input[type="radio"],
input[type="checkbox"] {
	margin-left:15px;
	margin-right:4px;
}

input[type="radio"]:first-of-type,
input[type="checkbox"]:first-of-type {
	margin-left:0;
}


/* Search forms */


.search-form {
	background-color: rgba(144,157,163,0.15);
	padding:0;
	margin-top:0;
	margin-bottom:50px;
	border-top:4px dashed rgba(5,57,107,0.05);
	border-bottom:4px dashed rgba(5,57,107,0.05);
}

.search-form > fieldset {
	margin:20px 0;
	padding:0 15px 10px;
	border:0;
	border-top:2px dashed white;
	clear:both;	
	
}

.search-form > fieldset:nth-child(even) {
/* 	background-color: rgba(5,57,107,0.05); */
}

.search-form > fieldset > legend {
	font-size:1.5em;
	padding:0;
	color:#009ed0;
}

.search-form > fieldset > fieldset {
	float:left;
	width:25%;
	padding:0 15px;
}

.search-form > fieldset > fieldset > fieldset {
	padding:0;
}

.search-form > fieldset.form-buttons {
	font-size:16px;
	margin:0;
	padding:25px 15px;
	border-top:0;
}

.search-form > fieldset.form-sort,
.search-form > fieldset.form-max-items {
	margin:0;
	padding:5px 15px 30px;
	width:50%;
	float:left;
	clear:none;
}



#publications li,
#posters li {
	margin:25px 0;
}

#posters {
	margin:50px 0 0;
}





#posters h4 {
	font-size:inherit;
}





i.mo {
	display:inline-block;
	margin:0;
	padding:0;
}

i.mo:before {
	content:'\a0';
	display:block;
	width:20px;
	height:16px;
	background-image:url(ellipses-arrow.svg);
	background-size:cover;
	background-repeat: no-repeat;	
}

i.mo:hover:before {
	background-image:url(ellipses-arrow-hl.svg);
}


