



#detail > section > .cap,
table.detail-table > caption,
table.detail-table > tbody > tr > td:first-child,
table.detail-table > tbody > tr > td.left-pad,
table.detail-table > thead > tr > th:first-child,
table.detail-table > thead > tr > th.left-pad {
	padding-left:30px;
}

#detail > section > .cap,
table.detail-table > caption,
table.detail-table > tbody > tr > td:last-child,
table.detail-table > thead > tr > th:last-child {
	padding-right:30px;
}

@media (max-width:768px) {

	#detail > section > .cap,
	table.detail-table > caption,	
	table.detail-table > tbody > tr > td:first-child,
	table.detail-table > tbody > tr > td.left-pad,
	table.detail-table > thead > tr > th:first-child,
	table.detail-table > thead > tr > th.left-pad {
		padding-left:15px;
	}

	#detail > section > .cap,
	table.detail-table > caption,	
	table.detail-table > tbody > tr > td:last-child,
	table.detail-table > thead > tr > th:last-child {
		padding-right:15px;
	}
	
}

@media (min-width:1260px) {
	
	#detail > section > .cap,
	table.detail-table > caption,
	table.detail-table > tbody > tr > td:first-child,
	table.detail-table > tbody > tr > td.left-pad,
	table.detail-table > thead > tr > th:first-child,
	table.detail-table > thead > tr > th.left-pad {
		padding-left:2.381vw;
	}
	
	#detail > section > .cap,
	table.detail-table > caption,
	table.detail-table > tbody > tr > td:last-child,
	table.detail-table > thead > tr > th:last-child {
		padding-right:2.381vw;
	}
		
}

#detail {
	background-color: #e5e9f0;
	padding-bottom:60px;
	border-top:1px solid #cfd4dc;
	padding-top:15px;	
}

table.detail-table {
	margin-top:0;
}

#detail > section {
	margin:0 0 30px;
	overflow:auto;
	zoom:1;
	font-size:1.25em;
}

#detail > section > .cap,
table.detail-table > caption {
	padding-top:5px;
	font-size:1rem;
	margin:0;
	padding-bottom:20px;
}

#detail > section > .cap h2,
table.detail-table > caption h2 {
	color:#05396b;
	margin-bottom:0.25em;
	font-weight:700;
	font-size:1.4rem;
}

table.detail-table > tbody > tr > td {
	padding:8px 6px 6px;
	border-bottom:1px solid white;
}

th[colspan] {
	text-align:center;
}

th,
th[colspan='1'] {
	text-align:left;
}



table.detail-table td,
td {
	vertical-align:top;
} 













/* Sorting */

table table caption {
	width:auto;
}


th.sorting_desc:after {
	font-family:FontAwesome;
	content:'\a0\f161';
}

th.sorting_asc:after {
	font-family:FontAwesome;
	content:'\a0\f160';
}

th.sorting:after {
	font-family:FontAwesome;
	content:'\a0\f160';
	opacity:0.25;
}

th.sorting,
th.sorting_desc,
th.sorting_asc {
	cursor:pointer;
	text-align:left;
}

th.sorting_disabled {
	text-align:left;
}



















/* Summary */


#summary table {
	margin-top:0;
}


#summary td {
	padding-top:10px;
	padding-bottom:8px;
	border-top:1px solid #cfd4dc;
}

#summary tr:first-child td {
	border-top:1px solid #05396b;
}

#summary tr:nth-child(even) td {
	background-color:transparent !important;
}

#summary tr:nth-child(odd) td {
	background-color:transparent !important;
}

#summary td:first-child {
	min-width:150px;
	width:200px;
	padding-left:0;
}

#summary td:nth-child(2) {
	font-size:1.25em;	
}

#summary td > h5 {
	font-size:inherit;
}

#summary caption {
    font-size: 1.5em;
    font-weight: 700;
    color: #05396b;
}

#summary h4 {
	font-size:1.25em;
}

#summary dl {
	width:25%;
	margin:0;
	padding:0 15px 15px 0;
	box-sizing:border-box;
}

#summary dt {
	margin-top:0;
}



/* Detail */



tr[data-parent] {
	display:none;
}

th.organ,
td.organ {
	display:none;
}

td.info {
	width:70%;
	padding-top:4px;
}


td ul {
	padding:0;
	margin:0;
} 




/* Info cell with collapsible sections */



td.info ul,
td.info li {
	list-style: none;
}

td.info li {
	padding-bottom:4px;
	
}

td.info li + li {
	padding-top:10px;
}

/*
td.info li + li:before {
	display:block;
	content:'\a0';
	font-size:0;
	width:50%;
	height:7px;
	border-top:1px solid #05396b;
}
*/


td.info li > p {
	font-weight:300;
	padding-left:9px;
}

td.info li > p > strong {
	font-weight:400;
	color:#05396b;
}

td.info ul {
	padding:0;
	margin:0;
}

td.info [data-detail],
td.info li.is-collapsible {
	display:block;
	margin:0;
}

td.info table {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:300;
	margin:5px 0 10px;
	border-left:3px solid transparent;
}

td.info li table {	
	margin:0 0 5px;
}

td.info li table thead,
td.info li table tbody {
	font-size:0.88em;
}

td.info li.is-collapsible table thead,
td.info li.is-collapsible table tbody {
	display:none;
}

td.info li.is-collapsible table.expanded {	
	margin:0 0 15px;
	border-left:3px solid rgba(0, 160, 209, 0.5);
}

td.info li.is-collapsible table.expanded thead {
	display:table-header-group;
}

td.info li.is-collapsible table.expanded tbody {
	display:table-row-group;
}


td.info table th,
td.info table td {
	padding:1px 2px 1px 6px;
}

td.info h5,
td.info .metastases th:first-child,
td.info caption {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:600;
	padding:1px 2px 1px 6px;
/* 	color:#009ed0; */
}

td.info h5,
td.info caption {
	font-size:1.16666em;
	position:relative;
	margin:0;
	padding:1px 2px 1px 6px;
	border-left:3px solid transparent;
	cursor:pointer;
}

td.info caption > span {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:300;
}

td.info li.is-collapsible caption:hover {
	color:#04c3ff;
}

td.info li.is-collapsible caption:before {
	position:absolute;
	right:100%;
	display:block;
	text-align: right;
	font-family:FontAwesome;
	content:'\f055';
	color:inherit;
	margin:2px -3px 0 0;
	font-size:11px;
	color:#009ed0;
}

td.info li.is-collapsible .expanded caption:before {
	content:'\f056';
}

td.info table th {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:400;
}

td.info tr:last-child > th {
	border-bottom:0;
}

td.info th.organ,
td.info td.organ {
	display:table-cell;
}

td.info table.metastases tr > :nth-child(2) {
	display:none;
}



/* Expand/collapse controls */


#expand-all,
#collapse-all {
	margin-left:12px;
	cursor:pointer;
}

#expand-all:hover,
#collapse-all:hover {
	color:#04c3ff;
}

#expand-all:before {
	font-family:FontAwesome;
	content:'\f055\a0';
}

#collapse-all:before {
	font-family:FontAwesome;
	content:'\f056\a0';
}




/* Search results */

caption {
	text-align:left;
}

.result-summary {
	overflow:auto;
	zoom:1;
	margin-bottom:45px;
}

dl {
	margin:0;
	display:block;
	float:left;
	width:16.6666%;
}

dt {
	margin:0.5em 0 0;
	font-weight:600;
	color:black;
}

dd {
	margin:0;
	min-height:1em;
}



section > div > table > tbody > tr:nth-child(odd) > td:not([rowspan]),
section > div > table > tbody > tr:nth-child(odd) > td[rowspan='1'],
section > table > tbody > tr:nth-child(odd) > td:not([rowspan]),
section > table > tbody > tr:nth-child(odd) > td[rowspan='1'] {
	background-color:rgba(255,255,255,0.5);
}





/* Frequency */

#detail th.freq {
	text-align:center;
}


#detail td.freq {
	text-align:center;
	padding-top:6px;
	padding-bottom:1px;
}



p.fr {
	box-sizing:border-box;
	border-radius:9px;
	height:18px;
	line-height:16px;
	padding:2px 3px 0;
	margin:0 auto 2px;
	text-align:center;
	min-width:35px;
	white-space: nowrap;
}

.fr-observed {
	background-color:#ced3db !important;
	font-size:9px;
}

.fr-01 {
	background-color:#d1ffff !important;
}

.fr-10 {
	background-color:#bcf380 !important;
	
}

.fr-20 {
	background-color:#ffc400 !important;
}

.fr-50 {
	background-color:#f45a02 !important;
	color:white !important;
}

.fr-80 {
	background-color:#ba0011 !important;
	color:white !important;
}



#tumor-frequency td.fr {
	background-clip: padding-box;
	border-bottom:1px solid transparent;
}





.r-10[data-val="0.1"],[data-val="0.1"],
.l-observed {
	background-color:#ced3db !important;
}

.r-0[data-val^="0"],.r-10,
.l0 {
	background-color:#d1ffff !important;
}

.r-20,
.l1 {
	background-color:#bcf380 !important;
	
}

.r-30,.r-40,.r-50,
.l2 {
	background-color:#ffc400 !important;
}

.r-60,.r-70,.r-80,
.l3 {
	background-color:#f45a02 !important;
	color:white !important;
}

.r-90,.r-100,
.l4 {
	background-color:#ba0011 !important;
	color:white !important;
}





/* Images */



.tumor-images > figure > a {
	display:block;
	float:left;
	margin:0 15px 0 0;
}

.tumor-images img {
	width:190px;
}

.tumor-images > figure {
	display:block;
	vertical-align:top;
	margin:15px -4px 5px 0;
	padding:0;
}

.tumor-images figcaption {
	box-sizing:border-box;
	margin:0 0 0 205px;
	padding:0 15px 0 0;
}



.tumor-images h5 {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	font-weight:400;
	color:#05396b;
	font-size:1em;
	margin:0;
	padding:0 10px 0 0;
	
}


.tumor-images p {
	margin:0 0 5px;
	padding:0 10px 0 0;
}

@media(min-width:1100px) {
	.tumor-images figcaption > div {
		width:33.3333%;
		float:left;
		height:60px;
	}	
}

@media(max-width:992px) {

	.tumor-images > figure > a {
		
		float:none;
		margin-bottom:10px;
	}	
	.tumor-images figcaption {
		margin-left:0;
	}
	.tumor-images figcaption > h5 {
		clear:both;
	}
}

.x-panel table {
	margin:0;
}



