<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <description>Mouse Models of Human Cancer Web Interface</description>
  <display-name>MTBWI</display-name>
 <!--===========================================================================
         Standard Action Servlet Configuration (with debugging)
============================================================================-->
  <servlet>
        <description>Standard Struts processing servlet</description>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>1</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
  <!--===========================================================================
         Startup Servlet for global initialization
============================================================================-->
  <servlet>
        <description>Initialization Servlet that initializes global variables</description>
        <servlet-name>init</servlet-name>
        <servlet-class>org.jax.mgi.mtb.wi.InitializationServlet</servlet-class>
        <init-param>
            <param-name>propertiesFile</param-name>
            <param-value>mtb.propertiesfile</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <!--===========================================================================
         Cache Filter Admin Servlet
============================================================================-->
  <servlet>
        <servlet-name>cacheFilterAdmin</servlet-name>
        <servlet-class>us.jawsoft.web.CacheFilter.admin.CacheFilterAdmin         </servlet-class>
    </servlet>
  <!--===========================================================================
         Redirect Servlet
============================================================================-->
  <servlet>
        <servlet-name>redirectServlet</servlet-name>
        <servlet-class>org.jax.mgi.mtb.wi.RedirectServlet         </servlet-class>
    </servlet>
  <!--===========================================================================
         Dynamic Text Servlet
============================================================================-->
  <servlet>
        <servlet-name>dynamicTextServlet</servlet-name>
        <servlet-class>org.jax.mgi.mtb.webutils.image.DynamicText</servlet-class>
    </servlet>
  <!--===========================================================================
         Jsp Servlet, the trims spaces param removes white space in the 
         generated JSP.
============================================================================-->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
  
  <!--===========================================================================
         Standard Action Servlet Mapping
============================================================================-->
  <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>init</servlet-name>
        <url-pattern>/InitializationServlet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>cacheFilterAdmin</servlet-name>
        <url-pattern>/CacheFilterAdmin</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>redirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>dynamicTextServlet</servlet-name>
        <url-pattern>/dynamicText</url-pattern>
    </servlet-mapping>
  <!--===========================================================================
         The Welcome File List
============================================================================-->
  <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
  <!--===========================================================================
         Filters
============================================================================-->
  <filter>
        <description>Cache generated content</description>
        <filter-name>cacheFilter</filter-name>
        <filter-class>us.jawsoft.web.CacheFilter.CacheFilter</filter-class>
        <init-param>
            <param-name>cache.clear.on.startup</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cache.debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cache.memory</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cache.path</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>cache.refresh</param-name>
            <param-value>604800</param-value>
        </init-param>
        <init-param>
            <param-name>cache.do.not.cache</param-name>
            <param-value>jaxpath:geneExpression:gViewer:viewer:test:pdx:solrQuery</param-value>
        </init-param>
    </filter>
  <filter>
        <description>Compress content</description>
        <filter-name>Compress</filter-name>
        <filter-class>org.jax.mgi.mtb.webutils.filters.CompressionFilter</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>timerFilter</filter-name>
        <filter-class>org.jax.mgi.mtb.webutils.filters.TimerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>timerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>timerFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>timerFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
  <!-- Note the ordering is important.  
         We first cache the content, then compress it -->
  <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
  <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
  <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
mtb.cachefilter.startcomment
  <filter-mapping>
        <filter-name>cacheFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
  <filter-mapping>
        <filter-name>cacheFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping> 
mtb.cachefilter.endcomment
  <!--===========================================================================
         Exception Handling

         400 - Bad Request 
         404 - Not Found
         500 - Internal Server Error   
============================================================================-->
  <error-page>
        <error-code>500</error-code>
        <location>/appError.jsp</location>
    </error-page>
  <error-page>
        <error-code>404</error-code>
        <location>/invalidUrl.jsp</location>
    </error-page>
  <error-page>
        <error-code>400</error-code>
        <location>/invalidUrl.jsp</location>
    </error-page>

  <!-- Security is active on entire directory -->
  <security-constraint>
        <display-name>MTBWI Configuration Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <!-- Define the context-relative URL(s) to be protected -->
            <url-pattern>/serverInfo.do</url-pattern>
            <url-pattern>/CacheFilterAdmin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Anyone with one of the listed roles may access this area -->
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

  <!-- Login configuration uses form-based authentication -->
  <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>MTBWI Configuration Area</realm-name>
    </login-config>

  <!-- Security roles referenced by this web application -->
  <security-role>
        <description>
      The role that is required to log in to the MTBWI Administration Application
    </description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
